/*
  This file includes:
    base element styles,
    Grid Elements based off Bootstrap Grid v4 style,
*/
.container {
  width: calc(100% - 2rem); // changed with respect to outer padding
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -1rem;
  margin-left: -1rem;
}

.col {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 1rem;
  padding-left: 1rem;
  @media (min-width: 600px) {
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;
  }
  @media (min-width: 600px) {
    &-sm-3 {
      flex: 0 0 25%;
      max-width: 25%;
    }
    &-sm-6 {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
}

main {
  margin-right: .5rem;
  margin-left: .5rem;
}

img,
.img--con {
  &.road-show-logo{
    width: calc(100% - 2rem);
    max-width: 24rem;
    display: block;
    .page-home & {
      margin: 2.33rem auto 4rem;
    }
    @media (max-width: 600px) {
      margin: 4rem auto;
    }
  }
}

.btn,
button {
  @include bold;
  padding: .267rem .733rem;
  padding-right: .267rem .733rem;
  color: $white;
  background-color: $accent-green;
  display: inline-block;
  text-transform: uppercase;
  -webkit-appearance: none;
  border: 0;
  text-decoration: none; //added for button styles
  transition: .1s all cubic-bezier(0.6, -0.28, 0.735, 0.045);

  &:hover {
    background-color: darken($accent-green, 10%);
    box-shadow: -2px 4px 17px -6px rgba(0,0,0,0.75);
    transition: .1s all cubic-bezier(0.6, -0.28, 0.735, 0.045);
  }
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
}

.form-row>.col, .form-row>[class*=col-] {
  padding-right: 5px;
  padding-left: 5px;
  box-sizing: border-box;
}